
/.fabric/processedMods
/config/
/journeymap
/modernfix
/logs
/data
/.fabric
emi.json
irisUpdateInfo.json
/ModTranslations
/saves
/screenshots
servers.dat
servers.dat_old
profile.json
usercache.json
usernamecache.json
